<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Dự báo điểm thi sinh viên{% endblock %}</title>
   <link rel="icon" type="image/png" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8x41dTM0khRBqsr5aEKASmEv5Hoz_F4K9lBYpicz_EW1ZANwMpOy-d_1di8fVolfAPQI&usqp=CAU">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="{{ url_for('index') }}">Trang chủ</a></li>
        <li><a href="{{ url_for('about') }}">Giới thiệu</a></li>
        <li><a href="{{ url_for('contact') }}">Liên hệ</a></li>
        <li><a href="{{ url_for('guide') }}">Hướng dẫn</a></li>
      </ul>
    </nav>
  </header>
  <div class="container">
    {% block content %}{% endblock %}
  </div>
  <footer>
    <p>© 2025 Dự báo điểm thi sinh viên - Nguyen Ba Trung</p>
  </footer>
</body>
</html>
